@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alien+Block&display=swap');

*{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 300ms ease-in-out;
    scroll-behavior: smooth;
}

body {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.449), rgba(0, 0, 0, 0.5)),
        url("../images//hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .header{
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.222);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 90%;
        margin: 0 auto;
    }

    a{
        font-size: 18px;
        text-transform: lowercase;
        color: #f1f1f1;
        font-weight: 600;

        &:hover {
            color: crimson;
        }
    }

    .logo-text{
        font-family: "Alien Block", sans-serif;
        font-size: 35px;
        color: white;
        letter-spacing: 4px;
        &:hover {
            color: white;
        }
    }

    .logo-dot{
        font-size: 60px;
        color: crimson;
    }

    .nav-items{
        display: flex;
        align-items: center;
        gap: 60px;
    }

    .nav-buttons{
        display: flex;
        gap: 20px;
        align-items: center;

        a{
            color: white;
            font-size: 20px;
            background-color: crimson;
            padding: 10px 20px;
            border-radius: 10px;
            span{
                font-size: 20px;
                font-weight: 700;
                margin-left: 5px;
            }
        }
        a:hover{
                background-color: white;
                color: crimson;
        }
    }
}


.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
            h1{
                font-size: 80px;
                font-weight: 500px;
                letter-spacing: 3px;
            }

            p{
                font-size: 25px;
                letter-spacing: 5px;
                line-height: 30px;
            }

            a {
                font-size: 24px;
                font-weight: 700;
                color: white;
                width: fit-content;
                span {
                    font-size: 30px;
                    font-weight: 700;
                    margin-left: 5px;
                }

                &:hover {
                    span {
                        margin-left: 15px;
                    }
                }
            }
            
    }

}

.form{
    width: 60%;
    .input-container{
        width: 50%;
        height: 100%;
        margin: 300px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        p{
            font-size: 25px;
            margin-bottom: 7px;
            font-weight: 600;
        }
        input{
            width: 100%;
            padding: 10px;
            font-size: 20px;
            border-radius: 5px;
            border: none;
            outline: none;
            color: gray;
            font-size: 18px;
            font-weight: 600;
        }
        button{
            width: 100%;
            padding: 10px;
            font-size: 20px;
            border-radius: 5px;
            border: none;
            outline: none;
            background: crimson;
            color: white;
            font-size: 18px;
            font-weight: 600;

            &:hover {
                background: white;
                color: crimson;
                border: 1px solid crimson;
            }
        }

        .register-link, .login-link{
            font-size: 18px;
            color: white;
            margin-top: 10px;
            background: rgba(245, 245, 245, 0.383);
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            text-align: center;

            a{
                color: white;
                margin-left: 5px;
                font-weight: 600;
            }
        }   
}

}
